.navbar {

  height: 60px;

  background: linear-gradient(to right, #1e293b, #0f172a);

  color: white;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 20px;

}
 .dropdown {

  position: absolute;

  right: 0;

  top: 40px;

  background: white;

  border: 1px solid #ddd;

  border-radius: 8px;

  width: 150px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 9999;

}

.dropdown a {

  display: block;

  padding: 10px;

  text-decoration: none;

  color: black;

}

.dropdown a:hover {

  background: #f5f5f5;

}
 .profile-section {

  width: 35px;

  height: 35px;

  background: #3b82f6;

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  cursor: pointer;
  position: relative;

}