<div class="container mt-5">
  <div class="card shadow p-4">
    <h3 class="text-center mb-4">My Bills</h3>

    @if (loading()) {
      <p class="text-center">Loading...</p>
    }

    <div class="table-container">
      @if (bills().length > 0) {
        <table class="table table-bordered text-center">
          <thead class="table-dark">
            <tr>
              <th>BillID</th>
              <th>Usage</th>
              <th>Amount</th>
              <th>Due Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            @for (b of bills(); track b.billId) {
              <tr>
                <td>{{ b.billId }}</td>
                <td>{{ b.usage }}</td>
                <td>₹ {{ b.amount }}</td>
                <td>{{ b.dueDate | date:'short' }}</td>
                <td>
                  <span class="badge"
                    [ngClass]="{
                      'bg-success': b.status === 'Generated',
                      'bg-warning': b.status === 'Adjusted',
                      'bg-danger': b.status === 'Closed'
                    }">
                    {{ b.status }}
                  </span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else if (!loading()) {
        <p class="text-center text-muted">No bills available</p>
      }
    </div>
  </div>
</div>