.container {

  padding: 20px;

}

h2 {

  margin-bottom: 15px;

}

/* FORM */

.form {

  display: flex;

  gap: 10px;

  flex-wrap: wrap;

  margin-bottom: 20px;

}

.form input {

  padding: 8px;

  border: 1px solid #ccc;

  border-radius: 5px;

}

.form button {

  background: #4facfe;

  color: white;

  border: none;

  padding: 8px 15px;

  border-radius: 5px;

}

/* TABLE */

table {

  width: 100%;

  border-collapse: collapse;

}

th {

  background: #333;

  color: white;

  padding: 10px;

}

td {

  padding: 10px;

  border-bottom: 1px solid #ddd;

}

.edit {

  background: orange;

  color: white;

  border: none;

  padding: 5px 10px;

  border-radius: 5px;

}

/* UPDATE FORM */

.update-form {

  margin-top: 20px;

  padding: 15px;

  border: 1px solid #ccc;

}
 