h2 {

  margin-bottom: 15px;

}

table {

  width: 100%;

  border-collapse: collapse;

}

thead {

  background: #0f172a;

  color: white;

}

th, td {

  padding: 10px;

  border-bottom: 1px solid #ddd;

}

button {

  padding: 5px 10px;

  cursor: pointer;

}

.edit-box {

  margin-top: 20px;

  padding: 15px;

  border: 1px solid #ccc;

}h2 {

  margin-bottom: 15px;

}

table {

  width: 100%;

  border-collapse: collapse;

}

thead {

  background: #0f172a;

  color: white;

}

th, td {

  padding: 10px;

  border-bottom: 1px solid #ddd;

}

button {

  padding: 5px 10px;

  cursor: pointer;

}

.edit-box {

  margin-top: 20px;

  padding: 15px;

  border: 1px solid #ccc;

}
 