:host{
  display: block;
  margin: 0;
}

/* .navbar {

  height: 60px;
 
 width: 100%;
  background: grey;

  display: flex;

  justify-content: space-between;

  align-items: center;

  /* padding: 10px 20px; */
  /* margin: 0;

  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

} */ 

.navbar {

  height: 60px;
  width: 100%;

   background: linear-gradient(to right,#2c5364, #203a43,#2c5364);
    color: white;
  border-bottom: 1px solid #ddd;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 20px;
 z-index: 10000;
}

/* .profile {

  cursor: pointer;
  

  position: relative;

} */
.profile {
  cursor: pointer;
  

  position: relative;
  width: 35px;

  height: 35px;

  background: #3b82f6;

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  cursor: pointer;
  position: relative;

}



.dropdown {

  position: absolute;

  right: 0;

  top: 40px;

  background: rgb(8, 8, 8);

  border: 1px solid #ddd;

  border-radius: 6px;

  width: 120px;

}


.dropdown div {

  padding: 10px;

  cursor: pointer;

}

.dropdown div:hover {

  background: #0d7cea;

}
 